typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
jest.config.js
*.vsix
.vscode
node_modules

templates.repo/**
out/**
package-lock.json

webpack.config.js

.circleci
.github
suf.config.json
